@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8F9FA;
    color: #0F172A;
  }
}

/* Custom scrollbar for terminal */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1E293B;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748B;
}
